* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0078ff, #00c6ff);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#bg-img {
    display: none;
    margin: 10px auto 0 auto; /* toppmarginal + centrerad */
    width: 60vw;
    max-width: 350px;
    min-width: 110px;
    border-radius: 24px;       /* snyggt rundade hörn */
    opacity: 0;
    transition: opacity 0.6s;
    box-shadow: 0 8px 40px -8px #005fcc33;
    pointer-events: none;      /* så att klick går igenom om bilden sticker ut */
    background: white;         /* om du har png med genomskinlighet – annars ta bort */
}

#bg-img.visible {
    display: block;
    opacity: 1;
}

/* HEADER */
header {
    margin-top: 40px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* MAIN CARD */
main, section {
    margin-top: 40px;
    padding: 30px;
    width: 95%;
    max-width: 500px;

    background: white;
    color: #333;

    border-radius: 20px;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* BUTTONS */
button {
    margin: 15px auto;
    padding: 15px 25px;
    font-size: 1.2rem;

    width: 100%;

    border: none;
    border-radius: 10px;
    cursor: pointer;

    background: #0078ff;
    color: white;

    transition: 0.2s;
}

button:hover {
    background: #005fcc;
}

button:active {
    transform: scale(0.95);
}

/* COUNTERS */
.counter {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px 0 25px 0;
    color: #0078ff;

}

/* INPUT ROW */
.input-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0 5px 0;
}

/* INPUT FIELDS */
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;

    border: 2px solid #0078ff;
    border-radius: 10px;
    outline: none;

    transition: 0.2s;
}

input[type="number"]:focus {
    border-color: #005fcc;
    box-shadow: 0 0 5px rgba(0, 120, 255, 0.4);
}

/* STATISTICS PAGE */
#stats-page p {
    font-size: 1.3rem;
    margin: 12px 0;
}

#stats-page span {
    font-weight: bold;
    color: #0078ff;
}

/* FOOTER */
footer {
    margin-top: auto;
    padding: 20px;
    opacity: 0.7;
}

/* MOBILE OPTIMIZATION */
@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    main, section {
        padding: 20px;
    }

    .counter {
        font-size: 2rem;
    }

    button {
        width: 220px;
        font-size: 1.2rem;
    }

    input[type="number"] {
        width: 100px;
    }

    #bg-img {
            width: 88vw;
            max-width: 98vw;
            min-width: 70px;
            margin-top: 30px;
        }
}